
.depicter-revert .depicter-1-element-9{
	background-color:transparent;
}
.depicter-revert .depicter-1-element-9:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-9:not(.depicter-hover-off):hover {
	background-color:#FFFFFF;
}
.depicter-1-element-9 .depicter-arrow-icon{
	fill:#000000;
	transition:all ease 0.3s;
}
.depicter-1-element-9:not(.depicter-hover-off):hover .depicter-arrow-icon{
	fill:#A87A2C;
}
.depicter-revert .depicter-1-element-10{
	background-color:transparent;
}
.depicter-revert .depicter-1-element-10:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-10:not(.depicter-hover-off):hover {
	background-color:transparent;
}
.depicter-1-element-10 .depicter-arrow-icon{
	fill:#000000;
	transition:all ease 0.3s;
}
.depicter-1-element-10:not(.depicter-hover-off):hover .depicter-arrow-icon{
	fill:#A87A2C;
}
.depicter-revert .depicter-1-element-8{
	font-size:13px;
	text-align:center;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:700;
	text-decoration:underline;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-8:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-8:not(.depicter-hover-off):hover {
	color:#A87A2C;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-7{
	opacity:0.7;
	font-size:16px;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:400;
	line-height:140%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-6{
	font-size:70px;
	color:#000000;
	font-family:"Gentium Book Basic";
	font-weight:400;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-5{
	font-size:20px;
	color:#A87A2C;
	font-family:"Josefin Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-4{
	background-color:#A87A2C;
}
.depicter-revert .depicter-1-element-3{
	background-color:#A87A2C;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-19{
	font-size:13px;
	text-align:center;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:700;
	text-decoration:underline;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-19:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-19:not(.depicter-hover-off):hover {
	color:#A87A2C;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-18{
	opacity:0.7;
	font-size:16px;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:400;
	line-height:140%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-17{
	font-size:70px;
	color:#000000;
	font-family:"Gentium Book Basic";
	font-weight:400;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-16{
	font-size:20px;
	color:#575F3E;
	font-family:"Josefin Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-15{
	background-color:#575F3E;
}
.depicter-revert .depicter-1-element-14{
	background-color:#575F3E;
}
.depicter-revert .depicter-1-section-12 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-27{
	font-size:13px;
	text-align:center;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:700;
	text-decoration:underline;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-27:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-27:not(.depicter-hover-off):hover {
	color:#A87A2C;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-26{
	opacity:0.7;
	font-size:16px;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:400;
	line-height:140%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-25{
	font-size:70px;
	color:#000000;
	font-family:"Gentium Book Basic";
	font-weight:400;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-24{
	font-size:20px;
	color:#FA8702;
	font-family:"Josefin Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-23{
	background-color:#FA8702;
}
.depicter-revert .depicter-1-element-22{
	background-color:#FA8702;
}
.depicter-revert .depicter-1-section-20 .depicter-section-background{
	background-color:#FFFFFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-9:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-1-element-9 .depicter-arrow-icon{
	fill:#000000;
	transition:all ease 0.3s;
}
.depicter-1-element-10 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-1-element-8{
	font-size:13px;
	text-align:center;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:700;
	text-decoration:underline;
}
.depicter-revert .depicter-1-element-6{
	font-size:50px;
	color:#000000;
	font-family:"Gentium Book Basic";
	font-weight:400;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-5{
	font-size:20px;
	color:#A87A2C;
	font-family:"Josefin Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-4{
	background-color:#A87A2C;
}
.depicter-revert .depicter-1-element-3{
	background-color:#A87A2C;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-19{
	font-size:13px;
	text-align:center;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:700;
	text-decoration:underline;
}
.depicter-revert .depicter-1-element-17{
	font-size:50px;
	color:#000000;
	font-family:"Gentium Book Basic";
	font-weight:400;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-16{
	font-size:20px;
	color:#575F3E;
	font-family:"Josefin Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-15{
	background-color:#575F3E;
}
.depicter-revert .depicter-1-element-14{
	background-color:#575F3E;
}
.depicter-revert .depicter-1-section-12 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-27{
	font-size:13px;
	text-align:center;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:700;
	text-decoration:underline;
}
.depicter-revert .depicter-1-element-25{
	font-size:50px;
	color:#000000;
	font-family:"Gentium Book Basic";
	font-weight:400;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-24{
	font-size:20px;
	color:#FA8702;
	font-family:"Josefin Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-22{
	background-color:#FA8702;
}
.depicter-revert .depicter-1-section-20 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-9:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-1-element-9 .depicter-arrow-icon{
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-10:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-1-element-10 .depicter-arrow-icon{
	fill:#000000;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-8{
	font-size:13px;
	text-align:center;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:700;
	text-decoration:underline;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-8:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-7{
	font-size:12px;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:400;
	line-height:140%;
}
.depicter-revert .depicter-1-element-6{
	font-size:50px;
	color:#000000;
	font-family:"Gentium Book Basic";
	font-weight:400;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-5{
	font-size:20px;
	color:#A87A2C;
	font-family:"Josefin Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-4{
	background-color:#A87A2C;
}
.depicter-revert .depicter-1-element-3{
	background-color:#A87A2C;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-19{
	font-size:13px;
	text-align:center;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:700;
	text-decoration:underline;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-19:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-18{
	font-size:12px;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:400;
	line-height:140%;
}
.depicter-revert .depicter-1-element-17{
	font-size:50px;
	color:#000000;
	font-family:"Gentium Book Basic";
	font-weight:400;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-16{
	font-size:20px;
	color:#575F3E;
	font-family:"Josefin Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-15{
	background-color:#575F3E;
}
.depicter-revert .depicter-1-element-14{
	background-color:#575F3E;
}
.depicter-revert .depicter-1-section-12 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-27{
	font-size:13px;
	text-align:center;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:700;
	text-decoration:underline;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-27:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-26{
	font-size:12px;
	color:#000000;
	font-family:"Josefin Sans";
	font-weight:400;
	line-height:140%;
}
.depicter-revert .depicter-1-element-25{
	font-size:50px;
	color:#000000;
	font-family:"Gentium Book Basic";
	font-weight:400;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-24{
	font-size:20px;
	color:#FA8702;
	font-family:"Josefin Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-23{
	background-color:#FA8702;
}
.depicter-revert .depicter-1-element-22{
	background-color:#FA8702;
}
.depicter-revert .depicter-1-section-20 .depicter-section-background{
	background-color:#FFFFFF;
}

}
